<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Full Pantry - Accounts</title>
</head>
<body>
    <div class="nav">
        <a href="/"><i class="fa fa-home"></i> Home </a>
        <a href="/search"><i class="fa fa-receipt"></i> Recipes </a>
        <% if (!isLoggedIn) { %>
            <a href="/login"><i class="fa fa-right-to-bracket"></i> Login </a>
            <a href="/register"><i class="fa fa-user-plus"></i> Register </a>
        <% } else { %>
            <a href="/ingredients"><i class="fa fa-wheat-awn"></i> Ingredients</a>
            <a href="/account" class="active"><i class="fa fa-user"></i> Account</a>
            <a href="/logout"><i class="fa fa-right-from-bracket"></i> Logout </a>
        <% } %>
    </div>
    <div class="main">
        <h1>Log in</h1>
        <form action="/settings" method="post">
            <label for="store">Choose your store: </label>
            <select name="store" id="store">
                <option value="" disabled selected>Select a store</option>
                <% stores.forEach(store => { %>
                    <option value="<%= store.id %>"><%= store.name %></option>
                <% }) %>
            </select>
            <input type="submit" value="Submit">
        </form>

        <% if (error) { %>
            <div class="error">
                <p><%= error %></p>
            </div>
        <% } %>
        <% if (message) { %>
            <div class="message">
                <p><%= message %></p>
            </div>
        <% } %>
    </div>
</body>
</html>